/*File contains styling for both the login and register pages*/
/*The same styles apply to both pages automatically*/
/*only thing different is the addition of a <select> tag to the register page,*/
/*which takes the same styling as the input fields*/



* {
	font-family: "Open Sans Regular";
}

section {
	height: 100vh;
    padding: 8% 5% 0;
    border-radius: 10px;
}

h1 {
	font-size: 3em;
	color: var(--very-dark-blue);
}

form {
	padding: 5%;
	margin: 3% 0 2%;
}

label {
	display: block; /*forces the input fields to the next line*/
	font-size: 1.3em;
	cursor: pointer;
}

form input,
form select { /*form select applies styling to the school of choice dropdown menu in the register page*/
	width: 100%;
	height: 2.5em;
	padding: 2%;
	margin: 2% 0;
	border: 1px solid black;
	border-radius: 10px;
	background: transparent;
	transition: 0.3s;
}

input:hover,
input:focus,
select:hover,
select:focus {
	border-color: var(--deepblue);
	background: #fff;
}

form select {
	padding: 0 2%; /*removes the top and bottom padding*/
}


option {
	font-family: sans-serif;
}

input[type = "checkbox"] {
	display: inline;
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
}

label[for = "remember-me"] {
	font-size: 1em;
	display: inline-block;
}

section button {
	width: 50%;
	height: 2.5em;
	margin: 5% auto 0;
    border-radius: 10px;
    color: white;
    background-color: var(--very-dark-blue);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
	background-color: var(--vivid-blue);
}

form p {
	margin: 2% 0 0;
}

form p a {
	color: var(--vivid-blue);
}



@media all and (max-width: 800px) {
	section {
		padding-top: 25%;
	}
	section h1 {
		font-size: 2em;
	}
	label {
		font-size: 1.2em;
	}
	form {
		position: relative;
	}
	form input {
		margin-bottom: 10%;
	}
	::placeholder {
		font-size: 0.8em;
	}
	form select {
		margin-bottom: 10%;
	}
	form button {
		width: 100%;
		margin-bottom: 5%;
		border-radius: 0;
		font-size: 1em;
	}
}